<!DOCTYPE html>
<html>
  <head>
    <title>Web Rebels 2012</title>
    <link rel="stylesheet" href="/screen.css">
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var require = {
        baseUrl: "/j",
        deps: ["cs!app"]
      };
    </script>
    <script type="text/javascript" src="/j/require.js"></script>

    <script type="text/underscore-template" id="tweet-item-template">
      <img class="profile" src="<%= user.profile_image_url %>">
      <span class="user"><%- user.screen_name %></span>
      <span class="tweet"><%= text %></span>
    </script>

    <script type="text/underscore-template" id="tweet-retweet-template">
      <div class="retweet">Retweeted by
        <span class="user"><%- user.screen_name %></span>
      </div>
    </script>

  </head>
  <body>
    <div class="container">
      <div id="sponsors">
        <h1>
          <object type="image/svg+xml" data="m/webrebels.svg"></object>
        </h1>
        <div class="sponsor">
          <object type="image/svg+xml" data="m/bekk.svg"></object>
        </div>
        <div class="sponsor">
          <object type="image/svg+xml" data="m/opera.svg"></object>
        </div>
        <div class="sponsor">
          <object type="image/svg+xml" data="m/microsoft.svg"></object>
        </div>
        <div class="sponsor">
          <object type="image/svg+xml" data="m/apdm.svg"></object>
        </div>
        <div class="sponsor">
          <object type="image/svg+xml" data="m/kantega.svg"></object>
        </div>
        <div class="sponsor">
          <object type="image/svg+xml" data="m/arktekk.svg"></object>
        </div>
        <div class="sponsor">
          <object type="image/svg+xml" data="m/knowit.svg"></object>
        </div>
        <div class="sponsor">
          <object type="image/svg+xml" data="m/finn.svg"></object>
        </div>
        <div class="sponsor">
          <object type="image/svg+xml" data="m/daldata.svg"></object>
        </div>
        <div class="sponsor">
          <object type="image/svg+xml" data="m/skalar.svg"></object>
        </div>
        <div class="sponsor">
          <object type="image/svg+xml" data="m/nokia.svg"></object>
        </div>
        <div class="sponsor">
          <object type="image/svg+xml" data="m/rim.svg"></object>
        </div>
        <div class="sponsor">
          <object type="image/svg+xml" data="m/webstep.svg"></object>
        </div>
        <div class="sponsor">
          <object type="image/svg+xml" data="m/iterate.svg"></object>
        </div>
        <div class="sponsor">
          <object type="image/svg+xml" data="m/skillsmatter.svg"></object>
        </div>
      </div>
      <div id="slides">
        <div class="slide">
          <section>
            <object type="image/svg+xml" data="m/webrebels.svg"></object>
          </section>
        </div>
        <div class="slide">
          <section>
            <table class="organisers">
              <tbody>
                <tr><td><img src="m/bodil.jpg"></td><td>@bodiltv</td></tr>
                <tr><td><img src="m/espen.jpg"></td><td>@leftiefriele</td></tr>
                <tr><td><img src="m/gregers.jpg"></td><td>@gregersrygg</td></tr>
                <tr><td><img src="m/sveinung.png"></td><td>@sveisvei</td></tr>
                <tr><td><img src="m/thomas.jpg"></td><td>@thomanil</td></tr>
                <tr><td><img src="m/trygve.png"></td><td>@trygve_lie</td></tr>
              </tbody>
            </table>
          </section>
        </div>
        <div class="slide">
          <section>
            <table class="organisers">
              <tbody>
                <tr><td>Wifi:</td><td>WR2012_*</td></tr>
                <tr><td>Hashtag:</td><td>#wr2012</td></tr>
              </tbody>
            </table>
          </section>
        </div>
        <div class="slide rfc1149"> </div>
        <div class="slide toilet"> </div>
        <div class="slide fire"> </div>
        <div class="slide satan">
          <section>
            <h1>PHONES ON MUTE</h1>
            <h2>DON'T TEST US</h2>
          </section>
        </div>
        <div class="slide puppies">
          <section>
            <h1>ENJOY!</h1>
          </section>
        </div>
        <div class="slide">
          <section>
            <h1><img src="m/jake.jpg"> Jake Archibald</h1>
            <h2>Application Cache Douchebag</h2>
          </section>
        </div>
        <div class="slide">
          <section>
            <h1><img src="m/erlend.jpg"> Erlend Oftedal</h1>
            <h2>Securing a JavaScript Based<br>Web Application</h2>
          </section>
        </div>
        <div class="slide">
          <section>
            <h1><img src="m/august.jpg"> August Lilleaas</h1>
            <h2>The Missing Link in<br>Single Page Web Applications</h2>
          </section>
        </div>
        <div class="slide">
          <section>
            <h1><img src="m/vyacheslav.jpg"> Vyacheslav Egorov</h1>
            <h2>V8 Inside Out</h2>
          </section>
        </div>
        <div class="slide">
          <section>
            <h1><img src="m/bernd.jpg"> Bernd Mrohs</h1>
            <h2>Challenges Creating a<br>Mobile HTML5 Framework<br>for
            Location Based Apps</h2>
          </section>
        </div>
        <div class="slide">
          <section>
            <h1><img src="m/michal.jpg"> Michal Budzynski</h1>
            <h2>Hey Flash, Can You Do This?<br>HTML5 Can!</h2>
          </section>
        </div>
        <div class="slide">
          <section>
            <h1 class="p01"><img src="m/p01.jpg"> Mathieu "p01" Henri</h1>
            <h2>Creative Coding And<br>Size Optimization</h2>
          </section>
        </div>
        <div class="slide">
          <section>
            <h1><img src="m/nikolai.jpg"> Nikolai Onken</h1>
            <h2>Bikeshed, a Beautiful Open Web</h2>
          </section>
        </div>
        <div class="slide">
          <section>
            <h1><img src="m/jerome.jpg"> Jérôme Etienne</h1>
            <h2>Creating a WebGL Game In Less Than 10 Minutes With tQuery.js</h2>
          </section>
        </div>
        <div class="slide">
          <section>
            <h1><img src="m/zed.jpg">Zed A. Shaw</h1>
            <h2>The Web Will Die<br>When OOP Dies</h2>
          </section>
        </div>
        <div class="slide">
          <section>
            <h1><img src="m/david.jpg"> David Herman</h1>
            <h2>The JavaScript Virtual Machine</h2>
          </section>
        </div>
        <div class="slide">
          <section>
            <h1><img src="m/felix.jpg"> Felix Geisendörfer</h1>
            <h2>Node.js In Production</h2>
          </section>
        </div>
        <div class="slide">
          <section>
            <h1><img src="m/glenn.jpg"> Glenn Block</h1>
            <h2>Developing API Wrappers With Node, Lessons Learned Building the Azure npm</h2>
          </section>
        </div>
        <div class="slide">
          <section>
            <h1><img src="m/jari.jpg"> Jari Bakken</h1>
            <h2>Automating 130 Browser, Platform and Language Combinations<br>Without Going Insane</h2>
          </section>
        </div>
        <div class="slide">
          <section>
            <h1><img src="m/brian.jpg"> Brian Leroux</h1>
            <h2>Billion Dollar App Walkthrough</h2>
          </section>
        </div>
        <div class="slide">
          <section>
            <h1><img src="m/addy.jpg"> Addy Osmani</h1>
            <h2>JavaScript Decoupling<br>vs The World</h2>
          </section>
        </div>
        <div class="slide">
          <section>
            <h1><img src="m/christian.png"> Christian Johansen</h1>
            <h2>Pure, Functional JavaScript</h2>
          </section>
        </div>
        <div class="slide">
          <section>
            <h1>THAT IS ALL</h1>
            <h2>GO AWAY NOW</h2>
          </section>
        </div>
      </div>
      <div id="tweets">
      </div>
    </div>
  </body>
</html>
